<div class="table-container">
  <nz-table
    #basicTable [nzData]="categoriesList"
    nzShowPagination
    nzShowSizeChanger
    [nzLoading]="loading"
    [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="currentPageIndex+1"
    (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
    [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>
        <button nz-button nzType="primary" (click)="editCategory(data.id)">Edit</button>
      </td>
      <td>
        <button nz-button nzType="primary" nzDanger (click)="deleteCategoryById(data.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Category" [nzFooter]="null">
    <ng-container *nzModalContent>
      <form [formGroup]="categoryForm">
        <input type="hidden" formControlName="id">
        <nz-form-item>
          <input nz-input type="text" formControlName="name">
        </nz-form-item>
        <nz-form-item>
          <textarea nz-input rows="4" type="text" formControlName="description"></textarea>
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="categoryForm.invalid" (click)="updateCategory()">Actualizar</button>
        <button class="cancel-button" nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      </form>
    </ng-container>
  </nz-modal>
</div>
