.cancel-button{
  margin-left: 10px;
}

.table-container{
  padding: 40px;
}

.btn-create-category{
  margin-top: 40px;
}

nz-select {
  width: 200px;
}

.select-category{
  margin-bottom: 30px;
}
.filter{
  margin-left: 40px;
  margin-top: 40px;
}
.btn-details{
  background-color: #5b2883;
  border-color: #5b2883;
}

.item-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
