<div class="filter">
  <h3>Filter by Category</h3>
  <nz-select class="select-category" [nzAllowClear] = "true" nzShowSearch nzPlaceHolder="Select a category" [(ngModel)]="selected" (ngModelChange)="onSelectionChange()">
    <nz-option *ngFor="let category of allCategories" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
  </nz-select>
</div>

<div class="table-container">
  <nz-table
    #basicTable [nzData]="itemList"
    nzShowPagination
    nzShowSizeChanger
    [nzLoading]="loading"
    [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="currentPageIndex+1"
    (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
    [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>

      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.code }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.category }}</td>
      <td>
        <button [nzShape]="'round'" nz-button nzType="primary" (click)="editItem(data.id)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
      </td>
      <td>
        <button [nzShape]="'round'" nz-button nzType="primary" nzDanger (click)="deleteItemById(data.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <button class="btn-create-category" nz-button nzType="primary" (click)="showCreateModal()">New Item</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Item" [nzFooter]="null">
    <ng-container *nzModalContent>
      <form [formGroup]="itemForm">
        <input type="hidden" formControlName="id">
        <nz-form-item>
          <input nz-input type="text" formControlName="code">
        </nz-form-item>
        <nz-form-item>
          <input nz-input type="text" formControlName="name">
        </nz-form-item>
        <nz-form-item>
          <textarea nz-input rows="4" type="text" formControlName="description"></textarea>
        </nz-form-item>
        <nz-form-item>
          <input nz-input type="number" formControlName="defaultPrice">
        </nz-form-item>
        <nz-form-item>
          <input nz-input type="number" formControlName="defaultCost">
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="itemForm.invalid" (click)="updateItem()">Actualizar</button>
        <button class="cancel-button" nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      </form>
    </ng-container>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Create Item" [nzFooter]="null">
    <ng-container *nzModalContent>
      <nz-select class="select-category" nzShowSearch nzPlaceHolder="Select a category" [(ngModel)]="selectedCategory">
        <nz-option *ngFor="let category of allCategories" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
      </nz-select>
      <form [formGroup]="itemForm">
        <input type="hidden" formControlName="id">
        <nz-form-item>
          <input placeholder="Code" nz-input type="text" formControlName="code">
        </nz-form-item>
        <nz-form-item>
          <input placeholder="Name" nz-input type="text" formControlName="name">
        </nz-form-item>
        <nz-form-item>
          <textarea placeholder="Description" nz-input rows="4" type="text" formControlName="description"></textarea>
        </nz-form-item>
        <nz-form-item>
          <input nz-input type="number" formControlName="defaultPrice">
        </nz-form-item>
        <nz-form-item>
          <input nz-input type="number" formControlName="defaultCost">
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="itemForm.invalid" (click)="createItem()">Crear</button>
        <button class="cancel-button" nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      </form>
    </ng-container>
  </nz-modal>
</div>
